@model DAL.Student

@{
    ViewBag.Title = "Student";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" style="margin-top:3%">
    <input type="hidden" name="UserName" id="UserName" value="@ViewBag.UserName" />
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Student</h4>
        </div>
        <div class="card-body">
            <div id="AddNewStudent"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="ddataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Course</th>
                            <th>Department</th>
                            @if (ViewBag.UserName != null)
                            {
                            <th>Edit</th>
                            <th>Delete</th>
                            }

                        </tr>
                    </thead>
                    <tbody id="SetStudentList">
                        @*<tr id="LoadingStatus" style="color:red"></tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Create A Popup Modal With Registration Form For Add Or Edit Server Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">

                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(s => s.StudentID, new { @id = "StudentID" })
                            <div class="text-capitalize">
                                <h6>Student Name</h6>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(s => s.StudentName, new { @id = "StudentName", @class = "form-control", @placeholder = "Student Name" })
                                <p id="NameError" style="color:red">Please enter student name*</p>
                                @*@Html.ValidationMessageFor(s => s.ServerName, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="text-capitalize">
                                <h6>Email</h6>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(s => s.StudentEmail, new { @id = "StudentEmail", @class = "form-control", @placeholder = "Student Email" })
                                <p id="EmailError" style="color:red">Please enter email*</p>
                            </div>
                            <div class="form-group">
                                <h6>Course</h6>
                                @Html.DropDownListFor(s => s.Course, new List<SelectListItem>
                           {
                               new SelectListItem {Text="Computer Science", Value="Computer Science"},
                               new SelectListItem {Text="Business Studies", Value="Business Studies"},

                           }, "--Select Course--", new { @id = "Course", @class = "form-control" })
                                <p id="CourseError" style="color:red">Please enter course</p>
                            </div>
                            <div class="form-group">
                                <h6>Department</h6>
                                @Html.DropDownListFor(s => s.Department, new List<SelectListItem>
                            {
                                new SelectListItem {Text="FOET", Value="FOET"},
                                new SelectListItem {Text="FOBA", Value="FOBA"},

                            }, "--Select Department--", new { @id = "Department", @class = "form-control" })
                                <p id="DeptError" style="color:red">Please enter Department</p>
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Student Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    var StudentsURL = '@Url.Action("GetList", "Student")';
    var GetSpecificStudentURL = '@Url.Action("GetStudentById", "Student")';
    var SaveDataURL = '@Url.Action("SaveDataInDatabase", "Student")';
    var DeleteDataURL = '@Url.Action("DeleteStudentRecord", "Student")';
    var RedirectURL = '@Url.Action("List", "Student")';

     //$("#LoadingStatus").html("Loading....");
    $.get(StudentsURL, null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        var name = $("#UserName").val();
        for (var i = 0; i < StudentList.length; i++) {
            var count = i + 1;
            var Data = "<tr class='row_" + StudentList[i].StudentName + "'>" +
                "<td>" + count + "</td>" +
                "<td>" + StudentList[i].StudentName + "</td>" +
                "<td>" + StudentList[i].StudentEmail + "</td>" +
                "<td>" + StudentList[i].Course + "</td>" +
                "<td>" + StudentList[i].Department + "</td>"

            if (name != null) {
               Data = Data + "<td>" + "<a href='#' class='btn btn-warning' onclick=\"EditStudentRecord('" + StudentList[i].StudentName + "')\" >Edit</span></a>" + "</td>" +
                    "<td>" + "<a href='#' class='btn btn-danger' onclick=\"DeleteStudentRecord('" + StudentList[i].StudentName + "')\">Delete</span></a>" + "</td>" +
                    "</tr>";

            }
            else {
            Data = Data +
                  //"<th>" + "" + "</th>" +
                  //"<th>" + "" + "</th>" +
                 "</tr >"
            }
            SetData.append(Data);
            //$("#LoadingStatus").html(" ");

        }

        $("#ddataTable").DataTable();
    }


                //Show The Popup Modal For Add New Student

                function AddNewStudent(StudentID) {
                    $("#form")[0].reset();
                    $("#StudentID").val(0);
                    $("#StudentName").val("");
                    $("#StudentEmail").val("");
                    $("#Course option:selected").text("--Select Course--");
                    $("#Department option:selected").text("--Select Department--");
                    $("#ModalTitle").html("Add New Student");
                    $("#MyModal").modal();

                }

                //Show The Popup Modal For Edit Student Record

                function EditStudentRecord(StudentID) {
                    var url = GetSpecificStudentURL + "?StudentID=" + StudentID;
                    $("#ModalTitle").html("Update Student Record");
                    $("#MyModal").modal();
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (data) {
                            var obj = JSON.parse(data);
                            $("#StudentID").val(obj.StudentID);
                            $("#StudentName").val(obj.StudentName);
                            $("#StudentEmail").val(obj.StudentEmail);
                            $("#Course option:contains(" + obj.Course + ")").prop('selected', 'selected');
                            $("#Department option:contains(" + obj.Department + ")").prop('selected', 'selected');



                        }
                    })
                }

                $("#SaveStudentRecord").click(function () {
                    var data = $("#SubmitForm").serialize();
                    var insert = true;

                    if ($("#StudentName").val() == "") {
                        $("#NameError").show();
                        insert = false;
                    }
                    else
                        $("#NameError").hide();

                    if ($("#StudentEmail").val() == "") {
                        $("#EmailError").show();
                        insert = false;
                    }
                    else
                        $("#EmailError").hide();


                    if ($("#Course option:selected").text() == "--Select Course--") {
                        $("#CourseError").show();
                        insert = false;
                    }
                    else
                        $("#CourseError").hide();

                    if ($("#Department option:selected").text() == "--Select Department--") {
                        $("#DeptError").show();
                        insert = false;
                    }
                    else
                        $("#DeptError").hide();

                    if (insert) {
                        $.ajax({
                            type: "Post",
                            url: SaveDataURL,
                            data: data,
                            success: function (result) {
                                alert("Success!..");
                                window.location.href = RedirectURL;//"/Student/List";
                                $("#MyModal").modal("hide");

                            }
                        })
                    }

                })

                //Show The Popup Modal For DeleteComfirmation
                var DeleteStudentRecord = function (StudentID) {
                    $("#StudentID").val(StudentID);
                    $("#DeleteConfirmation").modal("show");
                }
                var ConfirmDelete = function () {
                    var StudentID = $("#StudentID").val();
                    $.ajax({
                        type: "POST",
                        url: DeleteDataURL+ "?StudentID=" + StudentID,
                        success: function (result) {
                            $("#DeleteConfirmation").modal("hide");
                            window.location.href = RedirectURL;//"/Student/List";
                        }
                    })
                }
</script>

<script>
                $(document).ready(function () {

                    $("#NameError").hide();
                    $("#EmailError").hide();
                    $("#CourseError").hide();
                    $("#DeptError").hide();

                    var temp = $("#UserName").val();

                    if (temp = "UserName") {
                            var SetData = $("#AddNewStudent");
                            var Data =
                            "<a href='#' class='btn btn-info' onclick='AddNewStudent(0)'>Add New Student</a>" + "<br/><br/>";
                            SetData.append(Data);
                    }
                });

</script>

