<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>@ViewBag.Title</title>
        Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/sb-admin-2.css" rel="stylesheet" />*@
    @model DAL.Menu

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Forest X</title>

    <!-- Custom fonts for this template-->
    <link href="~/SDAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />


</head>
<body id="page-top">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        string UserName = "";
        if (HttpContext.Current.Request.Cookies["FSUserName"] != null)
        {
            UserName = HttpContext.Current.Request.Cookies["FSUserName"].Value;
        }
        //if (Request.Cookies["UserRoleId"] != null)
        //{
        //    ViewBag.UserRoleId = Request.Cookies["UserRoleId"].Value;
        //}
    }
    @*<input type="hidden" name="UserRole" id="UserRoleId" value="@ViewBag.UserRoleId" />*@






    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    @*<script src="~/Scripts/datatables-demo.js"></script>*@
    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />





    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>*@

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("List", "Student")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cloud-rain"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Forest X</div>
            </a>

        </ul>
        <!-- End of Sidebar -->
        <!-- Top Bar-->
        <div id="content-wrapper" class="d-flex flex-column">


            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Search -->
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link" id="userName">
                            <span class="mr-2 d-none d-lg-inline text-gray-600">@UserName</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Logout", "Login")">
                            <span class="text-gray-900">Log out</span>
                        </a>
                    </li>
                </ul>
            </nav>




            <!--Every page context will display in this section -->
            <div class="container-fluid body-content ">
                @RenderBody()

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - FORESTX</p>
                </footer>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    @*<script src="~/SDAdmin/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/SDAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/SDAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/SDAdmin/js/sb-admin-2.min.js"></script>







    <script>
        $("#dataTable").DataTable();
            var url = '@Url.Action("GetMenuNav", "Menu")';
            $.get(url, null, DataBind);
            function DataBind(List) {
                var SetData = $("#accordionSidebar");
                for (var i = 0; i < List.length; i++) {
                    var Link = '@Url.Action("ViewName", "Controller")';
                    Link = Link.replace("ViewName", List[i].View);
                    Link = Link.replace("Controller", List[i].Controller);
                    var Data =
                        "<hr class='sidebar-divider alert-light my-0'>" +
                        "<li class='nav-item active'>" +
                        "<a class='nav-link' href='" + Link + "'>" +
                        "<i class='fas fa-fw " + List[i].Icon + "'></i>" +
                        "<span>" + List[i].Name + "</span>" + "</a></li>";
                    SetData.append(Data);
                }
                Data = "<hr class='sidebar-divider alert-light my-0'>"
                //       "<div class='text-center d-none d-md-inline'>" +
                //       "<button class='rounded-circle border-0' id='sidebarToggle'></button>" +
                //       "</div>";
                SetData.append(Data);
            }

        @* $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (Return) {
                var states = JSON.parse(Return);
                $.each(states, function (i, state) {
                    var Link = '@Url.Action("ViewName", "Controller")';
                    Link = Link.replace("ViewName", state.View);
                    Link = Link.replace("Controller", state.Controller);
                    $("#MenuItem").append('<li><a href="' + Link + '"><i class="' + state.Icon + '"></i> <span>' + state.Name + '</span></a></li>');
                })
            }
        });*@


    </script>
</body>
</html>
